html {
  display: flex;
  background-color: black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  flex: 1;
  flex-direction: row;
}

#app {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  display: flex;
  border-radius: 0.5rem;
  padding: 2rem;
  align-self: center;
  flex-direction: row;
}
