html {
  display: flex;
  background-color: black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  flex: 1;
  margin: 0;
  flex-direction: row;
}

#app {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  display: flex;
  border-radius: 0.5rem;
  padding: 2rem;
  align-self: center;
  flex-direction: row;
}

.card_info {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex: 1;

  .user-image {
    width: 3.5rem;
  }

  .user-data {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0.5rem;
  }
}
