html {
  display: flex;
  background: linear-gradient(
    30deg,
    #55a7ce 0%,
    #172e35 33%,
    #d21f06 66%,
    #9dbbb9 100%
  );
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  flex: 1;
  flex-direction: row;
}

#app {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
